/*Reset*/
* {
    margin: 0;
    padding: 0;
   
}

/*Estilos generales*/

body {
    font-family: 'Inter';
}

/*Barra de navegación*/

.despleg {
    background: linear-gradient(#FFFAFA, #f0e552);
    margin-top: 0px;
    width: 100%;
    text-align:center;
    
}
.dws_menu img {
    width: 100px;
    height: 100px;
    margin: 0;
    float: left;
}
.dws_menu *{
    margin: 0;
    padding: 0;
}
.dws_menu ul,
.dws_menu li{
    list-style: none;
    position:relative;
    
}
.dws_menu > ul{
    display: flex;
    justify-content: center;
}
    .dws_menu > ul li a {
        display: block;
        padding: 45px 30px;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        color:#370101;
    }
.dws_menu li a:hover {
    background: linear-gradient(#FFFAFA, #f0e552);
    
    color: #833131;
}

/*submenu*/
.dws_menu li ul {
    position: absolute;
    margin: 0px;
    display: none;
    background-color: #f0e552; /*Le agregué el color de fondo porque sino al desplegar las opciones se confundía con el texto de contenido de la pag*/
    
}
    .dws_menu li ul li a {
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
        
    }


.dws_menu li:hover ul {
    display: block;
    
}
.image img {
    width: 100%;
    height: auto;
}

/*main Mascotas perdidas-encontradas*/

.publicaciones {
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "descripcion descripcion"
    "enlace enlace"
    "filtros posts";
    column-gap: 1em;
    margin-bottom: 1.5em;
}

.publicaciones h1 {
    grid-area: titulo;
    justify-self: center;
    margin-top: 0.3em;

}

.publicaciones p {
    grid-area: descripcion;
    margin-left: 0.3em;
    justify-self: center;
    font-weight: 500;
}

#enlaceForm {
    grid-area: enlace;
    border: 0.1em solid #370101;
    background-color: #e5e9dc;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 600;
}

#enlaceForm a {
    color: #829c42;
}

.filtros {
    grid-area: filtros;
    background-color: #ece697;
    padding: 1em;
    width: auto;
    font-weight: 400;
    color: #370101;
}

.ulPrincipal {
    padding-left: 0.5em;
}

.ulPrincipal li {
    list-style: none;
    padding-top: 0.3em;
    font-size: 1em;
    padding-left: 0em;
}

.ulSecundaria {
    padding-left: 1.3em;
    padding-right: 0.3em;
}

.ulSecundaria li{
    list-style: none;
    padding: 0.2em;
    font-size: 0.9em;
}

.publicaciones section {
    grid-area: posts;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-right: 1.5em;
}

.publicaciones .card {
    justify-self: center;
    text-align: center;
    width: 100%;
}

.publicaciones .btn-primary {
    background-color: rgb(248, 219, 88);
    border-color: #000000;
}

.publicaciones .btn-primary:active,
.btn-primary:hover {
    background-color: #d9cb83;
    border-color: #000000;
}
/*Diseño para móvil*/

@media screen and (max-width:575px) {

    /*main perdidos-encontrados*/

    .publicaciones {
        grid-template-columns: 30% auto;
        gap: 0.3em;
    }
    .publicaciones p, #enlaceForm {
        text-align: center;
    }

    .publicaciones section {
       display: flex;
       flex-direction: column;
    }
}

/*Diseño para tablet*/

@media screen and (min-width:576px) and (max-width:767px) {

    /*main perdidos-encontrados*/

    .publicaciones {
        grid-template-columns: 20% auto;
        gap: 0.6em;
    }
    .publicaciones p, #enlaceForm {
        text-align: center;
    }

    .publicaciones section {
        grid-template-columns: 1fr 1fr;
    }

}

/****Pie de Pagina****/
.pie-pagina{
    width: 100%;
    background: linear-gradient(#FFFAFA, #f0e552);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #370101;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #370101;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgba(244, 244, 12, 0.708);
}
.pie-pagina .grupo-2{
    background-color: #0d2033;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}

/*main Login*/

.mainLogin {
    background-image: url(imagenes/logos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 110vh;
}
.container_form{
    background-color: #0a1e35;
    border-radius: 15px;
    padding:20px;
    position: relative;
    top: 10px;
    opacity: 0.8;
}

.container_form img{
    height: 100px;
    width: 100px;
    display:block;
    margin:auto;
}

.container_form h2{
    text-align: center;
    color: white;
}

.container_form input{
    display: block;
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
}
.container_form .check{
    width: 15px;
    height: 15px;
    display: inline;
}
.container_form label{
    color: white;
}
.container_form label:hover{
    color: #b8b8b8b8;
}
.container_form a{
    color: white;
    text-decoration: none;
    margin-left: 45px;
}
.container_form a:hover{
    color: #b8b8b8b8;
}
.container_form .boton{
    width: 150px;
    border-radius: 15px;
    background-color: green;
    color: white;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #0b5a1c;
    margin-left: 96px;
    display:block;
    margin:auto;
}
.container_form .boton:active{
    background-color: #0b5a1c;
    width: 145px;
}


/*Pagina de Contacto*/
.formulario {
    width: 40rem;
    margin: auto;
    background-color: #e5e9dc;
    padding: 2rem 3rem;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}
.contacto, .subtitulo {
    color:#833131;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}
input, textarea {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-color: #cdc76b;
    border-radius: 0.5rem;
}
.btn {
    display:block;
    width: 10rem;
    text-transform: uppercase;
    color:#000000;
    font-weight: 900;
    padding: 1rem;
    margin:auto;
    text-align: center;
    background-color:#f0e552;
    transition: background-color 0.3s;
    cursor:pointer;
}
.btn:hover {
    background-color: #d9cb83;
}
@media(max-width:480px) {
    form {
        width: 100%;
    }
}

/*Finalizar la Compra*/

.finalizar{
    font-size: 20px;
    margin: 0 auto;
    width: 300px;
    background-color: #b1af49;
    padding: 15px;

}
.btn{
    width: 100%;
    background-color: #1668c4;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/*-----MascotAdopcion----*/

.title{
    /* text-align: center;
    font-size: 60px;
    color: #0f0b06;
    margin-top: 100px;
    font-weight: 500; */
    text-align: center;
    grid-area: enlace;
    border: 0.1em solid #370101;
    background-color: #e5e9dc;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 600;
    margin:20px;
}

.container_adopcion{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.animales{
    width: 330px;
    height: 500px;
   border-radius: 8px;
   box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   overflow: hidden;
   margin: 20px;
   text-align: center;
   transition: all 0.25s;
}

.animales:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.animales img{
    width: 330px;
    height: 220px;
}

.animales h2{
   font-weight: 600;
}

.animales p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
 }

/*productos*/

.publicaciones_productos h1 {
    grid-area: titulo;
    justify-self: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 2em;
    background-image: linear-gradient(120deg, #F09819,#EDDE5D 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
}
.publicaciones_productos p {
    grid-area: descripcion;
    justify-self: center;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 2em;
}
/*Registro de mascotas*/

form{
    margin: 0 auto;
    width: 25%;
    border: 20px;
    margin: 20px;
    padding: 20px;
}


label{
    font-size: 14px;
    display: block;
    width: 100%;
}

textarea{
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}
input, textarea{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input:focus, textarea:focus{
    border: 1px solid #1668c4

}


input[type="submit"]{
    margin-bottom: o;
    background: #1668c4;
    color: #fff;
    border: none;
}
    
input[type="submit"]:hover{
    
    background: #4a88f4;
    
}
    
h4{
    padding: 15px;
    
}